<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  			<div class="container">
    				<a class="navbar-brand" href="/">Movies Catalogue</a>
    				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      					<span class="navbar-toggler-icon"></span>
    				</button>
    				<ul class="navbar-nav mr-auto">
      					<li class="nav-item">
        					<a class="nav-link" href="{{ url_for('show_favorites') }}">Favorites</a>
     					</li>
      					<li class="nav-item">
        					<a class="nav-link" href="{{ url_for('today') }}">Today in TV</a>
      					</li>
    				</ul>
    				<form class="form-inline" action="/search" method="GET">
      					<input class="form-control mr-sm-2" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search" aria-label="Search" name="q">
      					<button class="btn btn-outline-success" type="submit">Search</button>
  			</div>
		</nav>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    			{% for message in messages %}
      				<div class="alert alert-info mt-3" role="alert">
        			{{ message }}
        			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
        			</button>
     				 </div>
    			{% endfor %}
  		{% endif %}
	{% endwith %}
        <!-- Page content-->
	<div class="container">
    		{% block content %}
    		{% endblock %}
	</div>
        <!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
